@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  padding: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
}
nav p {
  font-size: 2rem;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: #7C6A0A;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
article .main_information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 13rem;
  gap: 3rem;
}
article h1 {
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
}
article p {
  max-width: 600px;
  font-size: 3rem;
  text-align: justify;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 2rem;
  background-color: #FA9500;
  border-radius: 5rem;
  color: white;
  font-size: 1.6rem;
}
article button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
article .main_img {
  padding-top: 5rem;
}
article img {
  width: 25vw;
  border-radius: 1.9rem;
}

section {
  width: auto;
  height: auto;
  padding: 1rem;
}
section h2 {
  color: #7C6A0A;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 40px;
}
section h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: medium;
}
section p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: small;
}
section .product_salud h2, section .product_hogar h2 {
  padding-bottom: 60px;
}
section .cards_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  row-gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  height: auto;
}
section .card {
  position: relative;
  min-width: 53px;
  max-width: 250px;
  height: auto;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  background-size: cover;
}
section .heart {
  color: #7C6A0A;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  background-image: url("../assets/svg/heart.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
}
section .imagen_product img {
  margin-top: 5vh;
  min-width: 16vw;
  max-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .product_hogar .card {
  background-color: #BABD8D;
  color: white;
  overflow: hidden;
}
section .product_hogar .card .heart {
  color: white;
}
section .product_hogar .card p {
  font-size: 1.4rem;
  /* Tamaño adecuado para móviles */
  line-height: 1.2;
  /* Espaciado entre líneas */
  margin: 0;
}

.nosotros {
  padding-top: 40px;
  padding-bottom: 60px;
}
.nosotros h2 {
  padding-bottom: 35px;
  font-weight: bold;
}
.nosotros .mission_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nosotros .mission_section .earth, .nosotros .mission_section .innovation {
  width: 60vw;
  display: flex;
  align-items: center;
  gap: 40px;
  color: #E86424;
}
.nosotros .mission_section .earth img, .nosotros .mission_section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.nosotros .mission_section .earth p, .nosotros .mission_section .innovation p {
  text-align: center;
  font-size: 2rem;
}
.gallery {
  margin: 10px;
}
.gallery h2 {
  font-weight: bold;
}
.gallery .gallery_images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery_images img {
  padding: 20px;
  width: 30vw;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 1px 35%;
     object-position: 1px 35%;
  border-radius: 38px;
}
.gallery .gallery_images img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.info_encuentranos {
  color: #E86424;
}
.info_encuentranos h2 {
  font-weight: bold;
  padding: 6rem 2rem;
}
.info_encuentranos .maps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.info_encuentranos .maps img {
  width: 100%;
  padding: 20px;
}
.info_encuentranos h3,
.info_encuentranos p {
  font-size: 2rem;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #FA9500;
  width: 100%;
  height: auto;
}
footer h3, footer p {
  font-size: 2rem;
}
footer .footer_servicios {
  padding-left: 20px;
  padding-top: 20px;
}
footer .footer_social-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  article {
    flex-direction: column;
    text-align: center;
  }
  article .main_information {
    align-items: center;
    padding-top: 5rem;
  }
  article h1 {
    font-size: 3.5rem;
  }
  article p {
    font-size: 2.4rem;
  }
  article button {
    width: auto;
    font-size: 1.4rem;
  }
  article .main_img img {
    width: 50vw;
  }
  .section_products {
    padding: 10px;
    width: 100%;
  }
  .section_products h2 {
    padding-bottom: 40rem;
    font-size: 3rem;
  }
  .section_products h2 {
    font-size: 3rem;
  }
  .cards_section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .cards_section::-webkit-scrollbar {
    height: 1px;
  }
  .cards_section::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .cards_section::-webkit-scrollbar-track {
    background: transparent;
  }
  .cards_section .card {
    flex: 0 0 auto;
    width: 200px;
    height: 45rem;
    scroll-snap-align: start;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
  }
  .cards_section .imagen_product img {
    width: 80%;
    margin-top: 8vh;
  }
  .cards_section p {
    text-align: center;
    overflow: hidden;
    white-space: normal;
  }
  .gallery .gallery_images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery_images img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  nav p {
    font-size: 1.8rem;
    text-align: center;
  }
  nav .icons {
    justify-content: center;
  }
  article {
    flex-direction: column;
    text-align: center;
  }
  article .main_information {
    align-items: center;
    padding-top: 5rem;
  }
  article h1 {
    font-size: 3.5rem;
  }
  article p {
    font-size: 2.4rem;
  }
  article button {
    width: auto;
    font-size: 1.4rem;
  }
  article .main_img img {
    width: 50vw;
  }
  .section_products {
    width: 100%;
  }
  .section_products h2 {
    padding-bottom: 40rem;
    font-size: 3rem;
  }
  .section_products h2 {
    font-size: 3rem;
  }
  section .cards_section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  section .cards_section::-webkit-scrollbar {
    height: 1px;
  }
  section .cards_section::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  section .cards_section::-webkit-scrollbar-track {
    background: transparent;
  }
  section .cards_section .card {
    flex: 0 0 auto;
    width: 200px;
    height: 45rem;
    scroll-snap-align: start;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
  }
  section .cards_section .imagen_product img {
    width: 80%;
    margin-top: 8vh;
  }
  section .cards_section p {
    text-align: center;
    overflow: hidden;
    white-space: normal;
  }
  .cards_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 16px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .cards_section::-webkit-scrollbar {
    height: 1px;
  }
  .cards_section::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .cards_section::-webkit-scrollbar-track {
    background: transparent;
  }
  .cards_section h2 {
    padding-top: 0;
  }
  .cards_section .imagen_product img {
    width: 80%;
    margin-top: 8vh;
  }
  .cards_section p {
    text-align: center;
    overflow: hidden;
    white-space: normal;
  }
  .gallery .gallery_images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery_images img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    padding: 15px;
  }
  .nosotros .mission_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nosotros .mission_section .earth, .nosotros .mission_section .innovation {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #E86424;
  }
}
@media (max-width: 480px) {
  nav {
    padding: 1rem;
  }
  nav p {
    font-size: 1.5rem;
  }
  nav .icons {
    gap: 10px;
  }
  article h1 {
    font-size: 2.5rem;
  }
  article p {
    font-size: 2rem;
  }
  article button {
    width: 100%;
    font-size: 2rem;
  }
  article .main_img img {
    width: 90%;
  }
  .nosotros .mission_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nosotros .mission_section .earth, .nosotros .mission_section .innovation {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #E86424;
  }
  .cards_section .card {
    flex: 0 0 auto;
    width: 200px;
    scroll-snap-align: start;
    text-align: center;
    border-radius: 8px;
  }
  .cards_section .imagen_product img {
    width: 90%;
    margin-top: 8vh;
  }
  .cards_section p {
    text-align: center;
    overflow: hidden;
    white-space: normal;
  }
  .gallery .gallery_images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery_images img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }
  footer .footer_servicios {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer_social-img {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  footer .footer_social-img img {
    width: 16px;
  }
}/*# sourceMappingURL=main.css.map */