$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$background: #FA9500;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph: 2rem;



@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
}


html {
    font-size: 62.5%;
    font-family: $font-stack;
}

nav {
    width: auto;
    padding: 1.3rem;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;


    p {
        font-size: $paragraph;
        padding-left: 3rem;
    }

    .icons {
        display: flex;
        gap: 15px;

        @include buttonStyle;
    }
}


article {
    @include flexCenter(row, space-between, center);
    width: auto;
    color: $primary-text-color;
    padding-left: 4.5rem;
    padding-right: 4.5rem;

    .main_information {
        @include flexCenter(column, space-evenly, flex-start);
        padding-top: 13rem;
        gap: 3rem;
    }

    h1 {
        font-size: 4.5rem;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 3rem;
        text-align: left;
    }

    @include buttonStyle;

    button {
        width: 12vw;
        padding: 2rem;
        background-color: $background;
        border-radius: 5rem;
        color: white;
        font-size: 1.6rem;

        &:hover{
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }

    .main_img {
        padding-top: 5.0rem;
    }

    img {
        width: 25vw;
        border-radius: 1.9rem;
    }
}

section {
    width: auto;
    height: auto;
    padding: 6rem;


    h2 {
        color: $primary-text-color;
        font-size: 3rem;
        font-weight: 400;
        padding-top: 40px;
    }

    h3 {
        font-family: $font-stack;
        font-weight: 700;
        font-size: medium;
    }

    p {
        font-family: $font-stack;
        font-weight: 500;
        font-size: small;
    }


    .product_salud {
        h2 {

            padding-bottom: 60px;
        }
    }

    .cards_section {
        @include flexCenter(row, space-evenly, center);
        gap: 100px;
        row-gap: 50px;
        flex-wrap: wrap;
        align-items: center;
        width: auto;
        height: auto;
    }

    .card {
        position: relative;
        min-width: 53px;
        max-width: 250px;
        height: 450px;
        background-color: $secondary-color;
        color: $primary-text-color;
        padding: 20px;
        border-radius: 6px;
        text-align: center;
        background-size: cover;
    }

    .heart {
        color: $primary-text-color;
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline-block;
        background-image: url("../assets/img/heart.png");
        width: 30px;
        height: 30px;
        background-size: cover;
        background-position: center;

    }

    .imagen_product img {
        margin-top: 5vh;
        width: 16vw;
        height: 50vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        object-fit: cover;
    }


    .product_hogar {
        @extend .product_salud;

        .card {
            background-color: $tertiary-color;
            color: white;

            .heart {
                color: white;
            }
        }
    }
}

.nosotros{
   padding-top: 40px;
   padding-bottom: 60px;
    h2{
        padding-bottom: 35px;
        font-weight: bold;
    }
    .mission_section{
        @include flexCenter(row,space-evenly,center );
    .earth{
        width: 60vw;
        display: flex;
        align-items: center;
        gap: 40px;
        color: #E86424;
    img{
        object-fit:contain;
    }
        
    p{
        text-align: center;
        font-size:$paragraph;
    }
    }
    }

    .innovation{
        @extend .earth;
    }
     
}

.gallery{
    margin: 10px;
    h2{
        font-weight: bold
    }
    
    .gallery_images{
        @include flexCenter(row,  space-between, center);
        img{
           padding: 20px;
            width: 30vw;
            height: 60vh;
            object-fit: cover;
            object-position: 1px 35%;
            border-radius: 38px;
            &:hover{
                transform: scale(1.1);
                transition-duration: 0.3s;
            }
        }
    }
}

.info_encuentranos{
    h2{
        font-weight: bold;
       padding: 6rem 2rem;
    }
    color:#E86424;
    .maps{
         @include flexCenter(row,center ,center );
         padding-bottom: 50px;

    }
h3, p{
    font-size:2rem;
}
}

footer {
    color:white;
    background-color: $background;
    width: 100%;
    height: auto;
    padding: 40px;

    h3, p{
        font-size:2rem;
    }
.footer_social-img{
    @include flexCenter(row,center,center);
    gap: 40px;
    padding-bottom:20px ;

}
}